# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat-schedule*
celerybeat.pid

# Python
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/
.tox/
.coverage
htmlcov/

# macOS / System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs
.vscode/
.idea/
